/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-nav {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 3.15rem;
}

.inter-description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:auto;
  font-style: normal;
  font-size: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Styles */

Body{
    background-color: #4778ff13;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.max-width {
    max-width: 1140px;
    margin: 0 auto;
    
}

.font-size-info {
    font-size: 1.4rem;
    

}
.title {
    color: #E95A08;
}

.description {
    color:rgba(0, 0, 0, 0.5) ;
}

.btn-primary {
    /* font-size: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #E95A08;
    /* padding: 19px 80px; */
    border: none;
    min-height: 50px;
    width: 100%;
    
}

/* Navbar Styles */
.navbar{
    margin-top: 30px;
}

.nav-items {

    justify-content: center;
    gap: 48px;
    
}

.nav-links{
    gap: 48px;
}

nav ul li{
    list-style: none;
}

.home{
    font-weight: bolder;
    color: #252432;
}

.color{
    color: #8987A1;
}


/* Banner-style */
.banner-section {
    margin-top: 120px;
    height: 28.8rem;
    align-items: end;
    /* border: 2px solid red; */
    
}

.banner-section .banner-title{
    margin-bottom: 13px;
    margin-top: 0px;
    font-size: 4.05rem;
}

.banner-section .banner-description {
    margin-bottom: 0px;
}
.banner-content{
    flex: 1;
}
.banner-img {
    flex: 1;
}
.banner-img img {
    max-width: 100%; 
    height: 100%;
    display: block;
}

/* Plants Section */

.plants-section {
    margin-top: 7.5rem;
    height: auto;

    /* border: 2px solid greenyellow; */

}

.about-plants {
    text-align: center;
}
.plants-section h1 {
    margin-bottom: 1rem; 
}
.details {
    margin: 0 7.88rem;
    /* border: 1px dotted blue; */
}


/* Cards */

.cards-container {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    box-sizing: border-box;
}
.flower-card {
    width: 100%;
    /* border: 1px solid purple; */
    height: auto;
    overflow: hidden;
}
.flower-card img {
    max-width: 100%;
}
.data {
    /* border: 1px solid yellow; */
    margin-top: 30px;
}
.information {
    color: #111111;
    text-align: center;
    margin-bottom: 30px;
    /* border: 1px dotted steelblue; */
    
    
}

.flower-name {
    font-weight: 500;
    margin-bottom: 10px;
}
.price{
    color: #111111;
    font-weight: bold;
    font-size: 1.4rem;
}


/* Plants Lover Section */
.plants-lover {
    margin-top: 210px;
    /* border: 2px solid green; */
    height: auto;
}
.flower-store {
    gap: 60px;
}

.plants-lover ul {
    
    list-style-position: inside;
    padding-left: 15px;

}
.flower-plants {
    /* border: 1px dotted orange; */
    margin-top: 38px;
    margin-bottom: 38px;
}

/* badge */
.image-box {
    position: relative;
    display: inline-block;
}
.image-box img{
    display: block;
    max-width: 540px;
    height: auto;
}

.badge {
    position: absolute;
    top: -127px;
    right: -93px;
    width: 286px;
    height: auto;

}
/* .flower-store img {
    width: 100%;
    height: 100%;
    display: block;
} */


/* latest-deal-section  */

.latest-deal {
    margin-top: 134px;
    /* border: 2px solid steelblue; */
    height: auto;
   
}

.latest-info {
    text-align: center;
}


.latest-info h1{
     margin-bottom: 1rem; 

}

.latest-title {
    font-size: 1.25rem;
    color: white;
}




.z-title {
    font-size: 2.5rem;
    color: white;
}

/* Flex-Layout */

.offer-container {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 28px;
    margin-top: 120px;

}

 .layout-01{
    width: 367px;
    
 }

 .layout-02 {
    width: 753px;
    height: 423.13px;

 }
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 201px;
    overflow: hidden;
    height: 100%;
    
}


.card a {
    color: white;
    margin-top: 19px;

}
.card-01 {

    background: linear-gradient(rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4)
     url("../assets/deal-bloom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;

    margin-bottom: 25px;
    
}

.card-02 {
    
    background: linear-gradient(rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4)
    url("../assets/deal-ana.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    

  
    
}
.card-03 {
   
    background:linear-gradient(rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4)
     url("../assets/deal-zabo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 22px;
  
    
}

.card-03 a {
    font-size:1.75rem ;
}


/* Join-section */
.join-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 544px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.join {
    text-align: center;
    width: 830px;
    /* border: 2px solid chartreuse; */
   
}
 .join h1{
    color: white;
    margin-bottom: 23px;
 }
 .join-form{
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   width: 100%;
   /* width: 830px; */
 }

 .join-form input{
    width: 100%;
    font-size: 1rem;
    text-align: left;
    padding: 15.5px 20px;
    border: none;
    height: 50px;
    
 }
.join-form button{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #E95A08;
    padding: 18.98px 53.5px;
    border: none;
    height: 50px;
    width: 186px;
}

/* Mobile Responsiveness */

@media screen and (max-width: 576px){

    /* Shared */

        .navbar,
        .banner-content,
        .cards-container,
        .latest-deal {
            margin: 0 16px;
        }
        .navbar .nav-links{
            display: none;
        }
        

        .about-plants h1,
        .banner-content .banner-title,
        .flower-plants h1,
        .latest-info h1 {
            font-size: 1.5rem;  
        }
        
        .navbar {
            margin-top: 13px;
        }
        .navbar img{
            max-width: 63px;
            margin: 0 auto;
        }
        
        .banner-section {
            height: auto;
            flex-direction: column-reverse;
            margin-top: 28px;
            gap: 28px;
        }
        
        .banner-description,
        .about-plants p,
        .flower-plants ul li,
        .latest-info p{
            font-size: 0.9rem;
        }

    /* Plants-Section */

        .plants-section{
            margin-top: 65px;
        }
        .cards-container {
            grid-template-columns:repeat(2, 1fr); 
            gap: 28px 20px;
        }
        .cards-container .flower-card button{
            padding: 19px 30px;
        }

        .about-plants,
        .latest-deal {
            margin: 0 28px;
            margin-bottom: 28px;

        }
        
        .about-plants p,
        .latest-info p {
            margin: 0px;
        }
        .flower-name{
            margin-bottom: 5px;
        }
        .flower-name,
        .price {
            font-size: 1rem;
        }

        /* Plants Lover Section */
        .plants-lover {
            margin-right: 16px;
            margin-left: 16px;
            margin-top: 42px;

        }
        .flower-store {
            flex-direction: column;
            gap: 18px;
        }

        /* Badge */
        .image-box .badge {
            display: none;
        }
        .flower-store img {
            width: 100%;
            height: 100%;
            display: block;
}
        .flower-plants{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .plants-lover ul {
            padding-left: 10px;
        }

        /* Latest-deal-section */
        .latest-deal{
            margin-top: 143px;
        }

        


        .offer-container{
            flex-direction: column;
            gap: 20px;
            /* height: auto; */
        }

        .layout-01, 
        .layout-02 {
            width: 100%;
            height: auto;
            
        }

        .card-01,
        .card-02,
        .card-03 {
            border-radius: 14px;
        }

        .card-01 a,
        .card-02 a,
        .card-03 a {
            font-size: 1rem;
            margin-top: 19px ;
        }

        .latest-title,
        .z-title,
         .join h1 {
            font-size: 1.25rem;
        }

       .offer-container{
        margin-top: 51px;
       }

       /* Join-Section */

       .join-section {
        min-height: 276px;
        margin-top: 40px;
       }

       .join {
        width: 321px;
    
       }
       .join-form button{
        width: 103px;
        /* padding: 19px 12px ; */
        text-align: center;
        
        
       }


       

    
    

}